
@tailwind base;
@tailwind components;
@tailwind utilities;


.cursor {
  position: fixed;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 9999;
}
html,
body {
  background: black;
}

::selection {
  background: white;
  color: black;
}
header {
  backdrop-filter: blur(12px);
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.6),
    rgba(0,0,0,0)
  );
}

